<app-modal-header [context]="context"></app-modal-header>
<div class="modal-body animated fadeIn">
    <div class="list-container">
        <ul class="navbar-nav ml-auto text-nowrap">
            <li class="nav-item" (click)="handleClickNavigationItem()">
                <a class="nav-link" href="#aboutMe">
                    <span class="text-teal">[0]</span>
                    About Me
                </a>
            </li>
            <li class="nav-item" (click)="handleClickNavigationItem()">
                <a class="nav-link" href="#experience">
                    <span class="text-teal">[1]</span>
                    Experience
                </a>
            </li>
            <li class="nav-item" (click)="handleClickNavigationItem()">
                <a class="nav-link" href="#projects">
                    <span class="text-teal">[2]</span>
                    Projects</a>
            </li>
            <li class="nav-item" (click)="handleClickNavigationItem()">
                <a class="nav-link" href="#contact">
                    <span class="text-teal">[3]</span>
                    Contact
                </a>
            </li>
            <li class="nav-item">
                <a class="btn btn-sm btn-outline-teal" target="_blank" href="../../../assets/files/resume.pdf">Resume</a>
            </li>
        </ul>
    </div>
    <div class="social-container text-muted">
        <div class="col-12 text-center">
            <ul class="social-icons d-md-none d-lg-none d-xl-none">
                <li class="">
                    <a class="fab fa-linkedin-in" href="https://www.linkedin.com/in/deausten" target="_blank"></a>
                </li>
                <li>
                    <a class="fab fa-github" href="https://github.com/DeAusten" target="_blank"></a>
                </li>
                <li>
                    <a class="fab fa-npm" href="https://www.npmjs.com/~deausten" target="_blank"></a>
                </li>
                <li>
                    <a class="fab fa-instagram" href="https://www.instagram.com/austendewolf" target="_blank"></a>
                </li>
                <li>
                    <a class="fab fa-twitter" href="https://twitter.com/austendewolf" target="_blank"></a>
                </li>
            </ul>
            <p>
                This website, and associated resume are inspired by Brittany Chiang's <a class="text-teal" target="_blank" href="https://github.com/bchiang7/v4">v4 template</a>. The code for
                <a href="/" class="text-teal">austendewolf<span class="text-muted">dot</span>com</a> is open source and can be found on my
                <a class="text-teal" target="_blank" href="https://github.com/DeAusten">github profile</a>. Feel free to download, fork, comment, or submit pull requests.
            </p>
            <a href="https://github.com/DeAusten/austendewolfdotcom" target="_blank"><span class="badge badge-info">v1.0</span></a>
        </div>
    </div>
</div>
