<div class="container page-content" *ngIf="postPack.feed">
    <h1>Blog</h1>
    <p>{{postPack.feed.title}}</p>
    <hr>
    <div class="row">
        <div class="card" style="width: 18rem;" *ngFor="let post of postPack.items">
            <img class="card-img-top" src="{{post.thumbnail}}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{post.title}}</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="{{post.link}}" target="_blank" class="btn btn-warning">View Post</a>
            </div>
        </div>
    </div>
</div>
