<div class="container page-content">
    <div class="jumbotron">
        <h1>Consulting Packages</h1>
        <p>I offer the following packages.</p>
    </div>
    <div class="row">
        <div class="col-3">
            <p class="text-avenir-heavy">Type</p>
            <ul>
                <li>Startup Formation</li>
                <li>Software Engineering</li>
                <li>Web Design</li>
                <li>Career Coaching</li>
            </ul>
        </div>
        <div class="col-9">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">What's it cost?</h5>
                            <p class="text-warning text-nowrap margin-bottom-sml">$100</p>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Engineering</h5>
                            <p class="text-warning text-nowrap margin-bottom-sml">$80/hour</p>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
