<div class="container page-content">
    <h1>Consulting</h1>
    <p>I offer the following packages.</p>
    <hr>
    <div class="row">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">What's it cost?</h5>
                <p class="text-warning text-nowrap margin-bottom-sml">$100</p>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Engineering</h5>
                <p class="text-warning text-nowrap margin-bottom-sml">$80/hour</p>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
    </div>
</div>
