.modal-header {
  border-bottom: none !important;

  .modal-title {
    font-size: 1.25rem;
    font-family: 'Avenir-Pro-Roman';
    line-height: 50px;
  }

  .close {
    padding: 1rem 1rem;
    margin: -.5rem -.5rem -.5rem auto;
    font-weight: 100 !important;
    color: #fff;
    font-size: 3rem !important;
  }

  .circular-icon {
    border-radius: 100px;
    text-align: center;
    line-height: 50px;
    width: 50px !important;
    height: 50px !important;
    background-color: transparent !important;
    margin-right: 5px !important;
    border-color: transparent !important;
    &.danger {
      background-color: rgba(#d9534f, .3) !important;
      i,span {
        color: #d9534f !important;
      }
    }

    &.success {
      background-color: rgba(#63c326, .3) !important;
      i,span {
        color: #63c326 !important;
      }
    }

    &.info {
      background-color: rgba(#0393ff, .3) !important;
      i,span {
        color: #0393ff !important;
      }
    }
  }
}
