.modal-header {
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
  border-bottom: none;
  align-items: center;
}
.modal-header-icon-container {
  padding-right: 15px;
}
.modal-header-icon {
  background-color: #000;
  color: #fff;
  height: 50px;
  width: 50px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
}
.modal-title {
  display: block;
  border-bottom: 0;
  font-size: 1.5rem;
  font-family: Avenir-Pro-Roman;
}
.modal-subtitle {
  display: block;
  font-size: .9rem;
  color: #7a7b7b;
}
.close {
  opacity: .5;
  padding: 0 20px;
  align-items: center;
}
