<div class="modal-header wave">
    <div class="modal-header-icon-container">
        <div class="modal-header-icon">
            <span class="fa fa-address-book"></span>
        </div>
    </div>
    <div class="modal-header-title-container">
        <span class="modal-title">Get in Contact</span>
        <span class="modal-subtitle">Fill out the information below to get started</span>
    </div>
    <button class="close" (click)="this.context.dismiss()">
        <span class="fal fa-times"></span>
    </button>
</div>
<div class="modal-body">
    <ng-flat-form [form]="form"></ng-flat-form>
    <input type="checkbox">
    <button (click)="submitContactForm()" class="btn btn-dark btn-block" [disabled]="form.status !== 'valid'">
        <span *ngIf="!contactLoading">Submit</span>
        <span *ngIf="contactLoading" class="fas fa-spinner-third fa-spin"></span>
    </button>
    <div class="margin-top-med text-center">
        <p>
            <small class="d-block">Don't like forms? Send me an email instead.</small>
            <small class="d-block"><a href="mailto:hello@austendewolf.com">hello@austendewolf.com</a></small>
        </p>
    </div>
</div>
