.btn {
  border-radius: 2px !important;
  font-family: 'Roboto Mono', monospace;
  font-weight: normal !important;
  font-size: .9rem !important;
  padding: 10px 20px !important;
  &:disabled {
    cursor: not-allowed;
  }
}
.btn-warning {
  color: #fff !important;
  &:hover {
    color: #fff !important;
  }
}
.btn-outline-warning {
  &:hover {
    color: #fff !important;
  }
}
.btn-outline-light {
  &:hover {
    color: #fff !important;
    background-color: rgb(255, 255, 255, .3) !important;
  }
}
