.btn {
  transition: all .5s ease-in-out;
  border-radius: 2px !important;
  font-weight: normal !important;
  font-size: .9rem !important;
  padding: 10px 20px !important;
  &:disabled {
    cursor: not-allowed;
  }
}
.btn-warning {
  color: #fff !important;
  &:hover {
    color: #fff !important;
  }
}
.btn-outline-warning {
  &:hover {
    color: #fff !important;
  }
}
.btn-outline-light {
  &:hover {
    color: #fff !important;
    background-color: rgb(255, 255, 255, .3) !important;
  }
}
.btn-dark {
  color: #000;
  background-color: #000;
  border-color: #000;
  &:hover {
    color: #fff;
    background-color: lighten(#000, .10);
  }
}
.btn-outline-dark {
  color: #000 !important;
  background-color: transparent !important;
  border-color: #000 !important;
  &:hover {
    color: #fff !important;
    background-color: #000 !important;
  }
}
