.text-avenir-light {
  font-family: 'Avenir-Pro-Light', sans-serif;
}
.text-avenir-heavy {
  font-family: 'Avenir-Pro-Roman', sans-serif;
}
.text-roboto-mono {
  font-family: 'Roboto Mono', monospace;
}
.text-ubuntu-mono {
  font-family: 'Ubuntu Mono', monospace;
}
.text-space-mono {
  font-family: 'Space Mono', monospace;
}
.text-montserrat {
  font-family: 'Montserrat', sans-serif;
}
.text-bonveno {
  font-family: 'BonvenoCF', sans-serif;
}
.text-teal {
  color: rgb(100, 255, 218) !important;
}
.text-off-white {
  color: #ccd5f5 !important;
}
@media (max-width: 1200px) {
  legend {
    font-size: calc(1.275rem + 0.3vw);
  }
  h1,
  .responsive {
    font-size: calc(1.375rem + 1.5vw) !important;
  }
  h2,
  .responsive {
    font-size: calc(1.325rem + 0.9vw);
  }
  h3,
  .responsive {
    font-size: calc(1.3rem + 0.6vw);
  }
  h4,
  .responsive {
    font-size: calc(1.275rem + 0.3vw);
  }
  .display-1 {
    font-size: calc(1.725rem + 5.7vw) !important;
  }
  .display-2 {
    font-size: calc(1.675rem + 5.1vw) !important;
  }
  .display-3 {
    font-size: calc(1.575rem + 3.9vw) !important;
  }
  .display-4 {
    font-size: calc(1.475rem + 2.7vw) !important;
  }
  .close {
    font-size: calc(1.275rem + 0.3vw) !important;
  }
}

//
// Font faces
@font-face {
  font-family: 'Avenir-Pro-Light';
  src: url('../fonts/Avenir-Next/AvenirNextLTPro-Light.otf') format('opentype');
}
@font-face {
  font-family: 'Avenir-Pro-Roman';
  src: url('../fonts/Avenir-Next/AvenirRoman.otf') format('opentype');
}
