// Base Style
@import "./base/base";

//
// Partials
@import "partials/text";
@import "./partials/buttons";

html, body {
  scroll-behavior: smooth;
  color: #000;
  font-family: 'Avenir-Pro-Light', serif !important;
  background: -webkit-radial-gradient(top left, #ffffff, #f4fcff) no-repeat fixed;
}
.page-content {
  margin-top: 75px;
}

$enable-responsive-font-sizes: true;

// import bootstrap and its variables (after overrides)
@import "node_modules/bootstrap/scss/bootstrap";
