@import "./sizes";

//
//  Application Positioning
.padding-zero {
  padding: $zero !important;
}
.padding-xs {
  padding: $xs;
}
.padding-sml {
  padding: $sml;
}
.padding-med {
  padding: $med;
}
.padding-lrg {
  padding: $lrg;
}
.padding-xlg {
  padding: $xlrg;
}
.padding-top-xs {
  padding-top: $xs;
}
.padding-top-sml {
  padding-top: $sml;
}
.padding-top-med {
  padding-top: $med;
}
.padding-top-lrg {
  padding-top: $lrg;
}
.padding-top-xlg {
  padding-top: $xlrg;
}
.padding-bottom-xs {
  padding-bottom: $xs;
}
.padding-bottom-sml {
  padding-bottom: $sml;
}
.padding-bottom-med {
  padding-bottom: $med;
}
.padding-bottom-lrg {
  padding-bottom: $lrg;
}
.padding-bottom-xlg {
  padding-bottom: $xlrg;
}
.padding-right-zero {
  padding-right: $zero !important;
}
.padding-right-xs {
  padding-right: $xs;
}
.padding-right-sml {
  padding-right: $sml;
}
.padding-right-med {
  padding-right: $med;
}
.padding-right-lrg {
  padding-right: $lrg;
}
.padding-right-xlg {
  padding-right: $xlrg;
}
.padding-left-zero {
  padding-left: $zero !important;
}
.padding-left-xs {
  padding-left: $xs;
}
.padding-left-sml {
  padding-left: $sml;
}
.padding-left-med {
  padding-left: $med;
}
.padding-left-lrg {
  padding-left: $lrg;
}
.padding-left-xlg {
  padding-left: $xlrg;
}
.margin-zero {
  margin: $zero !important;
}
.margin-xs {
  margin: $xs;
}
.margin-sml {
  margin: $sml;
}
.margin-med {
  margin: $med;
}
.margin-lrg {
  margin: $lrg;
}
.margin-xlg {
  margin: $xlrg;
}
.margin-top-n-xlg {
  margin-top: -$xlrg;
}
.margin-top-n-lrg {
  margin-top: -$lrg;
}
.margin-top-n-med {
  margin-top: -$med;
}
.margin-top-n-sml {
  margin-top: -$sml;
}
.margin-top-n-xs {
  margin-top: -$xs;
}
.margin-top-zero {
  margin-top: 0px !important;
}
.margin-top-xs {
  margin-top: $xs !important;
}
.margin-top-sml {
  margin-top: $sml;
}
.margin-top-med {
  margin-top: $med;
}
.margin-top-lrg {
  margin-top: $lrg;
}
.margin-top-xlg {
  margin-top: $xlrg;
}
.margin-bottom-zero {
  margin-bottom: 0px !important;
}
.margin-bottom-xs {
  margin-bottom: $xs;
}
.margin-bottom-sml {
  margin-bottom: $sml;
}
.margin-bottom-med {
  margin-bottom: $med;
}
.margin-bottom-lrg {
  margin-bottom: $lrg;
}
.margin-bottom-xlg {
  margin-bottom: $xlrg;
}
.margin-right-xs-n {
  margin-right: -$xs;
}
.margin-right-sml-n {
  margin-right: -$sml;
}
.margin-right-med-n {
  margin-right: -$med;
}
.margin-right-lrg-n {
  margin-right: -$lrg;
}
.margin-right-xlg-n {
  margin-right: -$xlrg;
}
.margin-right-xs {
  margin-right: $xs;
}
.margin-right-sml {
  margin-right: $sml;
}
.margin-right-med {
  margin-right: $med;
}
.margin-right-lrg {
  margin-right: $lrg;
}
.margin-right-xlg {
  margin-right: $xlrg;
}
.margin-left-xs-n {
  margin-left: -$xs;
}
.margin-left-sml-n {
  margin-left: -$sml;
}
.margin-left-med-n {
  margin-left: -$med;
}
.margin-left-lrg-n {
  margin-left: -$lrg;
}
.margin-left-xlg-n {
  margin-left: -$xlrg;
}
.margin-left-xs {
  margin-left: $xs;
}
.margin-left-sml {
  margin-left: $sml;
}
.margin-left-med {
  margin-left: $med;
}
.margin-left-lrg {
  margin-left: $lrg;
}
.margin-left-xlg {
  margin-left: $xlrg;
}
