<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <clear />
        <rule name="WWW Rewrite" stopProcessing="true" enabled="true">
          <match url=".*" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="^www[.](.+)" />
          </conditions>
          <action type="Redirect" url="http://{C:1}/{R:0}" redirectType="Permanent" />
        </rule>
      </rules>
    </rewrite>
    <staticContent>
      <remove fileExtension=".otf" />
      <mimeMap fileExtension=".otf" mimeType="font/otf" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="font/woff2" />
    </staticContent>
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified" />
    </handlers>
    <aspNetCore processPath="dotnet" arguments=".\austendewolfdotcom.dll" />
  </system.webServer>
</configuration>
<!--ProjectGuid: B02F1184-78E1-4A83-A499-0C672EA0A155-->