<div class="full-height align-items-center container animated slideInLeft">
    <div class="splash-text">
        <p class="text-warning">Hello, I'm</p>
        <span class="text-avenir-heavy font-weight-bolder display-2 d-block">Austen DeWolf</span>
        <span class="text-avenir-heavy display-4 d-block text-nowrap">I build
            <p *ngIf="currentWord == 1" class="animated flipInX d-inline-block">for the web.</p>
            <p *ngIf="currentWord == 2" class="animated flipInX d-inline-block">for scale.</p>
            <p *ngIf="currentWord == 3" class="animated flipInX d-inline-block">for simplicity.</p>
            <p *ngIf="currentWord == 4" class="animated flipInX d-inline-block">for the <span class="text-warning">user</span>.</p>
        </span>
        <div class="row">
            <div class="col-xl-6 col-lg-7 col-md-9 col-sm-12">
                <p class="margin-top-xs">
                    I'm a software engineer who specializes in designing and developing <strong class="text-warning">intuitive</strong>, <strong class="text-warning">efficient</strong>, and <strong class="text-warning">resilient</strong> applications for the web.
                </p>
                <div class="margin-top-lrg">
                    <a class="btn btn-warning margin-right-sml" href="#contact" data-toggle="modal" data-target="#exampleModal">Get In Touch</a>
                    <a class="btn btn-dark margin-right-sml" href="#projects">View My Work</a>
                </div>
                <div class="margin-top-med">
                    <ul class="social-icons">
                        <li>
                            <a class="fab fa-instagram" href="https://www.instagram.com/austendewolf" target="_blank"></a>
                        </li>
                        <li>
                            <a class="fab fa-linkedin-in" href="https://www.linkedin.com/in/deausten" target="_blank"></a>
                        </li>
                        <li>
                            <a class="fab fa-github" href="https://github.com/DeAusten" target="_blank"></a>
                        </li>
                        <li>
                            <a class="fab fa-twitter" href="https://twitter.com/austendewolf" target="_blank"></a>
                        </li>
                        <li>
                            <a class="fab fa-npm" href="https://www.npmjs.com/~deausten" target="_blank"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
