app-modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10000;
}
.app-modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10000;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);

}
.app-modal-content {
  overflow-x: hidden;
  background: -webkit-radial-gradient(top left, #ffffff, #f4fcff) no-repeat fixed;
  position: relative;
  width: 100%;
  margin: 125px auto auto;
  z-index: 10000;
  color: #000;
  //border-top-left-radius: 25px;
  //border-bottom-left-radius: 25px;
  &.center {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    .modal-body {
      min-height: 150px !important;
    }
  }
  &.modal-med {
    max-width: 600px;
  }
  &.right {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    margin: 0 !important;
    .modal-body {
      overflow: scroll;
      height: calc(100vh - 147px);
      overflow-y: auto;
      overflow-x: hidden;
    }
    .modal-footer {
      position: absolute;
      bottom: 0;
      width: 100%;
    }
  }
  &.left {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    margin: 0 !important;
    .modal-body {
      overflow: scroll;
      height: 100vh;
      padding-bottom: 175px;
    }
    .modal-footer {
      position: absolute;
      bottom: 0;
      width: 100%;
    }
  }
}

.modal-header {
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
  border-bottom: none;
  align-items: center;
}
.modal-header-icon-container {
  padding-right: 15px;
}
.modal-header-icon {
  background-color: #000;
  color: #fff;
  height: 50px;
  width: 50px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
}
.modal-title {
  display: block;
  border-bottom: 0;
  font-size: 1.5rem;
  font-family: Avenir-Pro-Roman;
}
.modal-subtitle {
  display: block;
  font-size: .9rem;
  color: #7a7b7b;
}
.close {
  opacity: .5;
  padding: 0 20px;
  align-items: center;
}

.modal-footer {
  border-top: 1px solid #e3e3e8 !important;
  color: #f6f9fc;
  border-bottom-left-radius: 2px !important;
  border-bottom-right-radius: 2px !important;
  padding: 15px !important;

  div {
    width: 100%;
  }
}

.modal-content {
  border-radius: 2px !important;
  border: none !important;
  background-color: #f1f1f5 !important;
}

.fade.in {
  opacity: 1;
}

.modal-backdrop.in {
  opacity: 0.5 !important;
}

.modal-accent-icon {
  position: absolute;
  top: -50px;
  right: 50px;
  font-size: 150px;
  opacity: .2;

  &.danger {
    color: #d9535e;
  }
}
.modal-body {
  min-height: 150px;
}
