<div class="modal-footer">
  <button
    class="btn btn-no-outline btn-danger mr-auto"
    *ngIf="!hideTertiaryButton"
    (click)="handleOnClickTertiaryButton($event)"
    [disabled]="disableTertiaryButton"
  >
    {{tertiaryButtonText}}
  </button>
  <button
    class="btn btn-no-outline"
    *ngIf="!hideSecondaryButton"
    (click)="handleOnClickSecondaryButton($event)"
    [disabled]="disableSecondaryButton"
  >
    {{secondaryButtonText}}
  </button>
  <button
    class="btn btn-dark"
    *ngIf="!hidePrimaryButton"
    (click)="handleOnClickPrimaryButton($event)"
    [disabled]="disablePrimaryButton"
  >
    {{primaryButtonText}}
  </button>
</div>
