:host(.cookie-notification) {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #efefef;
  padding: 20px;
  display: none;
}
.cookie-alert-container {
  display: flex;
}
.cookie-notification-icon-container {
  margin-right: 15px;
}
.cookie-notification-icon {
  background-color: #000;
  color: #fff;
  line-height: 40px;
  height: 40px;
  width: 40px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cookie-notification-text-container {
  flex: 100%;
}
.cookie-notification-title {
  display: block;
  font-family: Avenir-Pro-Roman;
  margin-bottom: 0;
}
.cookie-notification-subtitle {
  display: block;
  color: #7a7b7b;
  font-size: .9rem;
}
.cookie-notification-button-container {
  margin-left: 15px;
  display: flex;
  align-items: center;
}
