<div class="container cookie-alert-container">
    <div class="cookie-notification-icon-container">
        <div class="cookie-notification-icon">
            <span class="fad fa-brackets-curly"></span>
        </div>
    </div>
    <div class="cookie-notification-text-container">
        <span class="cookie-notification-title">This site uses cookies</span>
        <span class="cookie-notification-subtitle">
            Please note that this website use cookies to enhance your experience and improve performance. To learn more about cookies and how we use them, please read our
            <a routerLink="/cookies">Cookie Policy.</a></span>
    </div>
    <div class="cookie-notification-button-container">
        <button class="btn btn-outline-dark" (click)="this.accept()">
            Accept
        </button>
    </div>
</div>
